html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    color: white;
  }
  
  body {
    font-family: sans-serif;
    background-color: black;
  }
  /* start of hero section */
  .hero {
    max-width: 100%;
    background-color: rgb(15, 15, 15);
    color: rgb(248, 248, 248);
    width: 100vw;
    min-height: 100vh;
    position: relative;
    padding: 60px 200px 200px;
    overflow: hidden;
    background-image: url(./images/hero-bg.png);
    background-size: cover;
    background-position: right bottom;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  
  /* start of menu */
  .menu {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .logo-part,
  .download-part {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
  
  #logo {
    width: 49px;
    height: 66px;
  }
  
  .ipl-link {
    text-decoration: none;
    outline: none;
    cursor: pointer;
  }
  
  .ipl-img {
    margin-left: 78px;
    width: 132px;
    height: 65px;
  }
  
  .for-ipl {
    padding: 4px 0px;
    position: relative;
  }
  
  .ipl {
    color: rgb(255, 255, 255);
    opacity: 0.8;
    font-family: sans-serif;
    font-size: 19px;
    line-height: 36px;
    white-space: nowrap;
    margin-right: 20px;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
  }
  
  .new {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: -12px;
    padding: 4px 7px;
    background-image: linear-gradient(
      149deg,
      rgb(170, 111, 109) 0%,
      rgb(18, 47, 39) 100%
    );
    border-radius: 6px;
    font-family: sans-serif;
    font-size: 8px;
    color: rgb(239, 235, 236);
    letter-spacing: 0.5px;
    line-height: 5px;
  }
  
  .download-cred {
    margin-left: 36px;
    font-family: sans-serif;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 18px;
    white-space: nowrap;
    border: 1px solid rgb(248, 248, 248);
    border-radius: 22px;
    cursor: pointer;
    padding: 12px 32px;
    outline: none;
  }
  
  /* end of menu */
  
  /* for mobile only */
  .tagline {
    display: none;
    background: rgb(39, 38, 38);
    font-family: sans-serif;
    font-size: 10px;
    color: rgb(239, 235, 236);
    letter-spacing: 0px;
    text-align: center;
    line-height: 15px;
    padding: 9px 20px;
  }
  
  .tagline-link {
    opacity: 0.9;
    font-family: sans-serif;
    font-size: 10px;
    color: rgb(151, 189, 255);
    letter-spacing: 0px;
    line-height: 15px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
    outline: 0px;
  }
  
  .ipl-copy {
    display: none;
  }
  /* end of mobile only */
  
  .main-copy {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .main-heading {
    font-family: sans-serif;
    font-size: 150px;
    letter-spacing: -4.5px;
    line-height: 150px;
    text-align: center;
    white-space: pre-line;
    margin-top: 100px;
  }
  
  .sub-heading {
    font-family: sans-serif;
    font-size: 30px;
    letter-spacing: -0.2px;
    line-height: 38px;
    margin-top: 35px;
    text-align: center;
  }
  
  .cta {
    display: inline-flex;
    white-space: nowrap;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    pointer-events: auto;
    text-align: center;
    padding: 20px 65px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-family: sans-serif;
    letter-spacing: 0.4px;
    line-height: 30px;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 58px;
  }
  /* end of hero section */
  
  /* Start of Media Queries for hero-section*/
  @media only screen and (min-width: 768px) and (max-width: 1279px) {
    .hero {
      padding: 60px 50px 100px;
    }
  
    #logo {
      width: 33px;
      height: 44px;
    }
  
    .sub-heading {
      font-size: 25px;
    }
    .ipl-img {
      margin-left: 40px;
      width: 87px;
      height: 43px;
    }
  }
  
  @media screen and (max-width: 1630px) {
    .main-heading {
      font-size: 106px;
      line-height: 125px;
      letter-spacing: -3px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 900px) {
    .main-heading {
      font-size: 82px;
      line-height: 92px;
    }
  }
  
  @media only screen and (min-width: 901px) and (max-width: 1279px) {
    .main-heading {
      font-size: 97px;
      line-height: 107px;
    }
  }
  
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .hero {
      padding: 60px;
      background-image: url(./images/hero-bg-mobile.png);
    }
  
    #logo {
      width: 33px;
      height: 44px;
    }
  
    .ipl-img {
      display: none;
    }
  
    .ipl {
      display: none;
    }
  
    .download-cred {
      font-size: 11px;
      padding: 8px 26px;
      cursor: none;
    }
  
    .main-copy {
      align-items: flex-start;
    }
  
    .main-heading {
      font-size: 65px;
      font-family: sans-serif;
      letter-spacing: -1.65px;
      line-height: 55px;
      text-align: left;
      white-space: inherit;
      width: 340px;
    }
  
    .sub-heading {
      font-size: 19px;
      font-family: sans-serif;
      letter-spacing: 0px;
      line-height: 24px;
      white-space: pre-line;
      width: 320px;
      text-align: left;
    }
  
    .cta {
      margin-top: 35px;
      font-size: 18px;
      letter-spacing: 0.3px;
      line-height: 18px;
      padding: 16px 28px;
      cursor: none;
    }
  
    .tagline {
      display: block;
      position: relative;
      margin: 30px -40px 50px;
    }
  
    .ipl-copy {
      display: block;
    }
  
    .tagline svg {
      display: inline-block;
      margin-left: 2px;
    }
  
    .new-mobile {
      display: inline-block;
      padding: 3px 4px;
      background-image: linear-gradient(
        149deg,
        rgb(170, 111, 109) 0%,
        rgb(18, 47, 39) 100%
      );
      border-radius: 6px;
      opacity: 0.8;
      font-family: sans-serif;
      font-size: 6px;
      color: rgb(239, 235, 236);
      letter-spacing: 0.22px;
      height: 10px;
      margin-left: 4px;
      line-height: 5px;
    }
  
    .ipl-copy {
      display: block;
    }
  
    .mobile-ipl-copy {
      text-decoration: none;
      outline: none;
      cursor: pointer;
    }
  
    .composite-logo {
      width: 87px;
      height: 43px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .hero {
      padding: 60px 40px 70px;
      background-image: url(./images/hero-bg-mobile.png);
    }
  
    #logo {
      width: 33px;
      height: 44px;
    }
  
    .ipl-img {
      display: none;
    }
  
    .ipl {
      display: none;
    }
  
    .download-cred {
      font-size: 11px;
      padding: 8px 26px;
      cursor: none;
    }
  
    .main-copy {
      align-items: flex-start;
    }
  
    .main-heading {
      font-size: 55px;
      font-family: sans-serif;
      letter-spacing: -1.65px;
      line-height: 47.5px;
      text-align: left;
      white-space: inherit;
      width: 270px;
    }
  
    .sub-heading {
      font-size: 16px;
      font-family: sans-serif;
      letter-spacing: 0px;
      line-height: 22px;
      white-space: pre-line;
      width: 270px;
      text-align: left;
    }
  
    .cta {
      margin-top: 35px;
      font-size: 18px;
      letter-spacing: 0.3px;
      line-height: 18px;
      padding: 16px 24px;
      cursor: none;
    }
  
    .tagline {
      display: block;
      position: relative;
      margin: 30px -40px 50px;
    }
  
    .ipl-copy {
      display: block;
    }
  
    .tagline svg {
      display: inline-block;
      margin-left: 2px;
    }
  
    .new-mobile {
      display: inline-block;
      padding: 3px 4px;
      background-image: linear-gradient(
        149deg,
        rgb(170, 111, 109) 0%,
        rgb(18, 47, 39) 100%
      );
      border-radius: 6px;
      opacity: 0.8;
      font-family: sans-serif;
      font-size: 6px;
      color: rgb(239, 235, 236);
      letter-spacing: 0.22px;
      height: 10px;
      margin-left: 4px;
      line-height: 5px;
    }
  
    .ipl-copy {
      display: block;
    }
  
    .mobile-ipl-copy {
      text-decoration: none;
      outline: none;
      cursor: pointer;
    }
  
    .composite-logo {
      width: 87px;
      height: 43px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .tagline {
      display: block;
      position: relative;
      margin: 30px -40px 50px;
    }
  }
  
  /* End of Media Queries for hero-section*/
  
  /* start of growthschool section */

  .growth{
    background-color: #131314;
    margin-top: -100px;
    padding: 50px 0 30px 0;
  }

  .growth .growth-title{
    text-align: center;
    margin: 100px 0 8px 0;
    padding: 16px;
  }

  .growth-title h1{
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .growth .dn, .dnb{
    display: none;
  }

  .growth-content{
    text-align: center;
    margin-bottom: 130px;
    padding: 16px;
  }

  .growth-content p{
    font-size: 24px;
    opacity: 0.5;
    letter-spacing: 1px;
    font-weight: lighter;
  }

  .growth-boxes{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
  }

  .growth-boxes h4{
    font-weight: 600;
    font-size: 20px;
    color: #8E8E93;
    letter-spacing: 1px;
  }

  .growth-sm-box{
    background-color: #19191a;
    padding: 16px;
    margin: 0 8px;
    border-radius: 10px;
  }

  .growth-invisible{
    display: none;
    padding: 16px;
  }
 

  @media screen and (max-width:480px) {
    .growth-content p{
      font-size: 16px;
      line-height: 1.4;
      font-weight: 100;
    }

    .growth-content{
      margin-bottom: 60px;
    }

    .growth-invisible{
      display: block;
      text-align: center;
      padding: 20px;
    }

    .gr-invi{
      display: inline-block;
      background-color: #19191a;
      color: #8e8e93;
      font-weight: 600;
      margin: 0 8px;
      margin-bottom: 16px;
      padding: 4px 8px;
      border-radius: 8px;
      font-size: 15px
    }

    .growth .dnb{
      display: block;
    }

    .growth-view-btn button{
      background-color: transparent;
      border: none;
      font-size: 16px;
      padding-bottom: 4px;
      border-bottom: 2px solid white;
      letter-spacing: 1px;
      cursor: pointer;
    }

    .growth-view-btn button img{
      margin-left: 8px;
      margin-bottom: -2px;
    }

    .growth-view-btn{
      text-align: center;
      margin: 20px 0;
      justify-content: center;
    }

    .growth-invisible h4{
      display: inline-block;
    }

    .growth-boxes{
      display: none;
    }
  }

  /* end of growthschool section */

  
  /* start of ultrahumman section */
  .ultrahuman {
    padding: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
  }
  
  .ultrahuman-link {
    background-image: url(./ultrahuman-images/ultra.png);
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: center center;
    height: 0px;
    padding-bottom: 100%;
    text-decoration: none;
    cursor: pointer;
  }
  
  .ultrahuman-blog {
    background-image: url(./ultrahuman-images/blog.png.webp);
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: center center;
    height: 0px;
    padding-bottom: 100%;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* end of ultrahuman section */
  
  /* start of mobile ultrahuman css  */
  @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    .ultrahuman-link {
      background-image: -webkit-image-set(
        url("./ultrahuman-images/ultra.png") 1x
      );
    }
  
    .ultrahuman-blog {
      background-image: -webkit-image-set(
        url("./ultrahuman-images/blog.png.webp") 1x
      );
    }
  }
  
  @media (max-width: 768px) {
    .ultrahuman {
      padding: 48px 0px;
      grid-template-columns: 1fr;
    }
    .ultrahuman-link,
    .ultrahuman-blog {
      padding-bottom: 100%;
    }
  }
  
  /* end of mobile ultrahuman css */
  
  /* Start of the footer css*/

  .footer{
    justify-content: center;
  }
  
  .footer a{
      text-decoration: none;
      color: white;
  }
  .footer li{
      list-style: none;
  }
  
  .footer hr{
      max-width: 100%;
      opacity: 0.3;
      border-top: 1.5px solid white;
  }
  
  .footer-head{
      margin-bottom: 25px;
      font-size: 14px;
      opacity: 0.6;
      font-weight: 700;
  }
  
  .footer-content li{
      margin-bottom: 25px;
      font-size: 14px;
  }
  
  .footer-content a:hover{
      text-decoration: underline;
  }
  
  .footer .container{
      max-width: 100%;
      margin-top: 60px;
      justify-content: center;
      margin: 60px 120px;
      margin-bottom: 30px;
  }
  
  .footer .col{
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
      position: relative;
      padding-left: 32px;
  }
  
  .footer .row{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 100px;
      justify-content: center;
      
  }
  
  .footer .display-none{
      align-items: center;
  }
  
  .footer .display-none a{
      padding-right: 20px ;
  }
  
  .footer .aicons{
      opacity: 0.5;
      font-size: 17px;
  }
  
  .footer .dn{
      display: none;
  }
  
  .footer-foot{
      display: flex;
      align-items: center;
  }
  
  .footer-foot div{
      margin-right: 20px;
  }
  
  .footer-logo img{
      width: 35px;
  }
  
  .footer-foot p{
      opacity: 0.6;
      font-size: 14px;
  }

  @media only screen and (max-width:  1024px){
  .footer .container {
      margin: 60px 32px;
      margin-bottom: 20px;
  }
  }

@media only screen and (max-width: 768px){
.footer .container{
    margin: 60px 10px;
}
}


@media (max-width: 960px){
.footer .container {
    max-width: 100%;
}
}
  
  @media screen and (max-width: 768px) {
      .footer .display-none{
          display: none;
      }
  
      .footer .dn{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
      }
  
      .footer .footer-icons{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          margin: 60px 0 20px 0px;
      }
  
      .footer .footer-icons a{
          font-size: 24px;
          opacity: 0.6;
      }
  
      .footer-buttons{
          justify-content: center;
          align-items: center;
      }
      .footer-buttons a{
          padding: 8px;
      }
  
      .footer .row{
          margin-bottom: 20px;
      }
  
      .footer-buttons div{
          margin-bottom: 5px;
      }
  
      .footer-foot{
          margin-top: 50px;
          justify-content: center;
          flex-direction: column;
      }
  
      .footer-logo img{
          width: 80px;
          margin-bottom: 10px;
      }
  
      .footer-foot div{
          margin-bottom: 10px;
      }
  
  }
  
  /* end of footer css*/

  /* start of masterclass css*/

  .masterclass-container {
    padding: 50px;
  }
  
  .box-masterclass {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
  }
  
  .box-masterclass a {
    transition: transform .3s;  
  }
  
  .box-masterclass a:hover {
    transition: transform .3s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);  
    transform: scale(1.4);
  }
  
  .box-masterclass img {
    border-radius: 2px;
  }

  @media(max-width: 900px) {
  
    .box-masterclass {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(4, minmax(100px, 1fr));
    }
  
  }

  @media(max-width: 700px) {
  
  .box-masterclass {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
  
  }


  @media(max-width: 500px) {
  
   .box-masterclass {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;    
    }
  
    .box-masterclass a:hover {
      transition: transform .3s;
      -ms-transform: scale(1);
      -webkit-transform: scale(1);  
      transform: scale(1.2);
    }
  }
  /* end of masterclass css*/
